# .gitignore
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Specifics
user/*
www/docbook_assets/user/*
var/*
tmp/*
dev/*
phpdoc/*
src/vendor/*
composer.lock
#build/*

# Web
www/*
!www/docbook_assets
www/docbook_assets/vendor/bower_components/*
!www/.htaccess
!www/index.php
!www/INDEX.md

# Hack
!.gitkeep
