# .gitignore
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Hack
!.gitkeep

# OS & software files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon
._*
*~
*~lock*
Thumbs.db
ehthumbs.db
Desktop.ini

# Specifics
user/*
tmp/*
dev/*
phpdoc/*
src/vendor/*
composer.lock

# the www
!www/docbook_assets
!www/.htaccess
!www/index.php
www/*
