<div class="well well-small hidden-printer">

<ul class="breadcrumb">
    <li><a href="/">{{ 'Home'|translate }}</a> <span class="divider">/</span></li>
{% set routeroute='/' %}
{% for route in breadcrumbs %}
    {% if loop.index<loop.length %}
        {% set routeroute=routeroute ~ route ~ '/' %}
    <li><a href="{{ routeroute }}">{{ route }}</a> <span class="divider">/</span></li>
    {% else %}
    <li class="active"><strong>{{ route }}</strong></li>
    {% endif %}
{% endfor %}
    <li class="pull-right">
{% include DB.getTemplate('tools') %}
    </li>
</ul>

</div>