<footer id="footer">
    <div class="muted credits pull-left hidden-printer">
        This page is created with <a href="http://jquery.com/" title="See online: http://jquery.com/">jQuery</a>, <a href="http://twitter.github.com/bootstrap/index.html" title="See online: http://twitter.github.com/bootstrap/index.html">Bootstrap</a> and <a href="http://code.google.com/p/html5shiv/" title="See online: http://code.google.com/p/html5shiv/">HTML5shiv</a>.
        <br />
        Icons by <a href="http://glyphicons.com/" title="See online: http://glyphicons.com/">Glyphicons</a>.
        <br />
        This page is <a href="" title="Check now online" id="html_validation" data-insert-href="html_validation">HTML5</a> & <a href="" title="Check now online" id="css_validation" data-insert-href="css_validation" data-validation-argument="perso/styles.css">CSS3</a> valid.
    </div>
    <div class="muted credits pull-right text-right hidden-printer">
        {% include DB.getTemplate('page_credits') %}
        <br />
    {% if profiler is not empty %}
        <a href="#0" id="profiler_handler" title="See page &amp; system infos"><i class="icon-globe"></i>&nbsp;Profiler</a>
        &nbsp;|&nbsp;
    {% endif %}
        <a href="{{ 'docbookdoc'|route }}" title="Read the manual"><i class="icon-question-sign"></i>&nbsp;Manual</a>
        &nbsp;|&nbsp;
        <a href="#0" onclick="messagebox('{{ 'credits'|route }}', 'About DocBook');" title="See the full application credits, check for updates ..."><i class="icon-info-sign"></i>&nbsp;About</a>
    </div>
{% if profiler is not empty %}
    <div id="profiler" class="profiler-wrapper">{% include DB.getTemplate('profiler') %}</div>
{% endif %}
    <div class="muted credits visible-printer">
        {{ 'Original URL of this page on the internet'|translate }} : <strong>{{ profiler.request }}</strong>
        <br />
        {% include DB.getTemplate('page_credits') %}
    </div>
</footer>
