<!--[if lt IE 7]>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ 'Warning!'|translate }}</h4>
        <p class="chromeframe">{{ 'ie7_warning'|translate|raw }}</p>
    </div>
<![endif]-->
