            <div class="container-fluid">

                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <a class="brand" href="/">{{ app.title }}</a>

                <div class="nav-collapse collapse">
                    <div class="navbar-text pull-right"><small>
                        <ul class="nav">
                            <li class="active"><a href="#top" title="Reach the top ot this page">&uarr;&nbsp;Top</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Reach a section in this page">Inpage navigation <b class="caret"></b></a>
                                <ul class="dropdown-menu" id="inpage_menu"></ul>
                            </li>
                            <li><a href="#footer" title="Reach the bottom of this page">Bottom&nbsp;&darr;</a></li>
                        </ul>
                    </small></div>
                </div>

            </div>
