########################################################################
# DocBook                                                              #
# Copyright (c) 2012 Pierre Cassat                                     #
# http://www.ateliers-pierrot.fr - contact@ateliers-pierrot.fr         #
########################################################################

# no indexing
Options -Indexes +FollowSymLinks

# setting the default DocBook markdown handler for each `.md` files
# and the INCLUDES functionality
AddType text/html .md

# the rewrite URLs rules
RewriteEngine On
#RewriteBase /

# no access to anything beginning with a dot
RewriteRule ^(.*/)?\.(.*)/ - [F]

# special rule for `sitemap.xml` (one per dir)
RewriteRule ^(.*)sitemap.xml index.php?$1/sitemap

# setting the 404 error page
ErrorDocument 404 index.php?not_found

# skip all this if the file or the dir exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_URI} !.*\.md
RewriteRule "." - [skip=100]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*) index.php?$1

# `index.php` will handle all requests
RewriteRule ^(.*) index.php?$1
