#
# this a a WebDocBook meta file - see <http://webdocbook.com/>
#
# This file is a list of greek alphabet letters (used for scientific notations for instance).
# Use it by copying it (or its content) in a `.references` file of a WebDocBook chapter,
# it will render each greek letter used in common contents of your Markdown files as an abbreviation
# with the texts below as title attribute.
#

*[Α]: Alpha (a)
*[α]: Alpha (a)
*[Β]: Beta (b)
*[β]: Beta (b)
*[Γ]: Gamma (g)
*[γ]: Gamma (g)
*[Δ]: Delta (d)
*[δ]: Delta (d)
*[Ε]: Epsilon (ĕ)
*[ε]: Epsilon (ĕ)
*[ϵ]: Epsilon (ĕ)
*[Ζ]: Zeta (z)
*[ζ]: Zeta (z)
*[Η]: Eta (ē)
*[η]: Eta (ē)
*[Θ]: Theta (th)
*[ϑ]: Theta (th)
*[θ]: Theta (th)
*[Ι]: Iota (i)
*[ι]: Iota (i)
*[Κ]: Kappa (k)
*[κ]: Kappa (k)
*[Λ]: Lambda (l)
*[λ]: Lambda (l)
*[Μ]: Mu (m)
*[μ]: Mu (m)
*[Ν]: Nu (n)
*[ν]: Nu (n)
*[Ξ]: Xi (x)
*[ξ]: Xi (x)
*[Ο]: Omicron (ŏ)
*[ο]: Omicron (ŏ)
*[Π]: Pi (p)
*[π]: Pi (p)
*[Ρ]: Rho (r)
*[ρ]: Rho (r)
*[Σ]: Sigma (s)
*[σ]: Sigma (s)
*[ς]: Sigma (s)
*[Τ]: Tau (t)
*[τ]: Tau (t)
*[Υ]: Upsilon (u)
*[υ]: Upsilon (u)
*[Φ]: Phi (ph)
*[φ]: Phi (ph)
*[Χ]: Chi (ch)
*[χ]: Chi (ch)
*[Ψ]: Psi (ps)
*[ψ]: Psi (ps)
*[Ω]: Omega (ō)
*[ω]: Omega (ō)
